html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    /*font-family: 'Roboto', sans-serif;*/
    font-family: 'Tinos', serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

.wrapper {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
.header{
    height: 100vh;
    background: url("image/bg.png") no-repeat center/cover;
    position: relative;
}

.nav-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;
    text-decoration: none;
}
.nav-link img{
    width: 20px;
}
 div .border{
   width:  2px;
   height: 70px;
     background:  #fff;
}
.header__phone {
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 155px;
    margin-left: 34px;
}
.header__contact{
    display: flex;
    align-items: center;
    column-gap: 45px;
}
.btn-success{
    background-color: #FF7400;
    border: none;
}
.btn{
    font-weight: bold;
}
.navbar-expand-lg .navbar-collapse{
    justify-content: end;
}
.header__title{
    margin-top: 204px;
    font-style: normal;
    color: #D67E35;
}
.header__title h2 {
    font-size: 50px;
    line-height: 57px;
    margin-left: 24px;
}
.header__title h1{
    font-size: 80px;
    line-height: 92px;
}
.header__title p {
    font-size: 18px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}
.header__title_button{
    display: flex;
    max-width: 500px;
    justify-content: center;
    margin-top: 21px;
}
.header__title_p{
    display: flex;
}
.header__title p::before, .header__title p::after{
    content: "";
    display: block;
    width: 61px;
    height: 2px;
    background: #C4C4C4;
}
.header__title p::before{
    margin-right: 10px;
}
.header__title p::after{
    margin-left: 10px;
}
.card-group{
    column-gap: 31px;
}
.header__feature_box{
    position: absolute;
    top: 650px;
    display:flex;
    justify-content: center;
    padding: 0 110px;
    flex-wrap: wrap;
}
.card-footer{
    display: none;
}
.card img{
    width: 111px;
    height: 101px;
    margin-top: 35px;
}
.card{
    align-items: center;
}
.card h5{
    font-size: 26px;
    line-height: 30px;
    color: #2C2C2C;
}
.card h5 span {
    color: #BC9060;
}
.card-text{
    font-size: 26px;
    line-height: 30px;
    margin: 15px 0;
}


