@media screen and (max-width: 400px) {
    .navbar-brand img{
        width: 50px;
    }
    .navbar-toggler-icon{
        background-color: #FF7400;
        border-radius: 5px;
    }
    .header__title h2{
        font-size: 30px;
        line-height: 36px;
        margin-left: 0;
    }
    .header__title h1{
        font-size: 40px;
        line-height: 46px;
    }
   .header__title_p p{
       font-size: 15px;
       line-height: 20px;
       align-self: center;
   }
    .header__title p::before, .header__title p::after{
        display: none;
    }
    .header__title_button button{
        font-size: 14px;
        line-height: 19px;
    }
    .header__feature_box{
        padding: 0 15px;
    }
    .card-text{
        font-size: 22px;
        line-height: 25px;
    }
}